<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utility.Listners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/riyad/IdeaProjects/AutomationProject">
        <classes>
            <class name="test.E2ETest">
                <methods>
                    <include name="testRun"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>